.main-container{
    width: 450px;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    border: solid 2px;
    border-radius: 5px;
    border-color: dimgray;
}

.main-container .card-container {
    flex: 4 1 0px;
}

.main-container .CardControlContainer {
    flex: 1 1 0px;
}

.card-container {
    background-color: #121212;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width:thin;
    scrollbar-color: dimgray #121212;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.cardItem {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: solid 2px;
    border-radius: 5px;
    border-color: dimgray;
}

.cardItem p {
    padding: 5px 15px 5px 15px;
}

.cardItem button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.cardItem > * {
    flex: 1 1 0px;
    min-width: 0;
    overflow-wrap: break-word;
}

.cardItem p {
    flex: 2 1 0px;
}

.cardItem button{
    flex: 1 1 0px;
}

.cardItem button .editButton {
    width: 24px;
    height: 24px;
    fill: aliceblue;
}

.cardItem button .editButton:hover {
    fill:  yellow;
}

.cardItem button .deleteButton {
    width: 24px;
    height: 24px;
    fill: aliceblue;
}

.cardItem button .deleteButton:hover {
    fill:  crimson;
}

.CardControlContainer button .confirmButton {
    margin: 25px 5px 5px 15px;
    width: 24px;
    height: 24px;
    fill: aliceblue;
}

.CardControlContainer button .confirmButton:hover {
    fill:  green;
}

.CardControlContainer {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 23.2rem;
    align-items:center;
}

.CardControlContainer button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.CardControlContainer button .addButton {
    margin: 25px 5px 5px 15px;
    width: 24px;
    height: 24px;
    fill: aliceblue;
}

.CardControlContainer button .addButton:hover {
    fill:  green;
}

.InputDescription {
    margin: 5px 10px 5px 5px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.InputDescription .isEmpty:focus-visible {
    outline: 2px solid rgba(220, 20, 60, 0.5);
    box-shadow: 1px 1px 1px 5px rgba(220, 20, 60, 0.5);
}

.InputDescription .isNotEmpty:focus-visible {
    outline: 2px solid rgba(16, 245, 0, 0.5);
    box-shadow: 1px 1px 1px 5px rgba(16, 245, 60, 0.5);
}

.CardControlContainer .fillWarning {
    color: crimson;
    margin: 0px 0px 10px 10px;
}

.CardControlContainer .fillSuccess {
    color: green;
    margin: 0px 0px 10px 10px;
}

.CardControlContainer .editWarning {
    color: yellow;
    margin: 0px 0px 10px 10px;
}